{
    "$schema": "http://json-schema.org/draft-07/schema",
    "$id": "https://raw.githubusercontent.com/openvar/NextFlow_RD_Genomic_VQR/main/nextflow_schema.json",
    "title": "Nextflow pipeline parameters",
    "description": "This pipeline uses Nextflow and processes exome or genome data. The JSON Schema was built using the nf-core pipeline schema builder.",
    "type": "object",
    "definitions": {
        "inputs_outputs": {
            "title": "inputs_outputs",
            "type": "object",
            "description": "",
            "default": "",
            "properties": {
                "samplesheet": {
                    "type": "string",
                    "description": "Samplesheet in tsv format",
                    "default": "samplesheet",
                    "format": "file-path"
                },
                "genome_index_files": {
                    "type": "string",
                    "description": "Genome index files directory",
                    "format": "directory-path"
                },
                "qsrVcfs": {
                    "type": "string",
                    "description": "Quality Score Recalibration files directory",
                    "format": "directory-path"
                },
                "genome_file": {
                    "type": "string",
                    "description": "Genome fasta file",
                    "default": "genome.fasta",
                    "format": "file-path"
                },
                "outdir": {
                    "type": "string",
                    "description": "local output directory",
                    "default": "./results",
                    "format": "directory-path"
                },
                "aligner": {
                    "type": "string",
                    "description": "Aligner to use (bwa-mem or bwa-aln)",
                    "default": "bwa-mem",
                    "enum": ["bwa-mem", "bwa-aln"]
                },
                "fastqc": {
                    "type": "boolean",
                    "description": "Flag to indicate if FASTQC should be performed",
                    "default": false
                },
                "index_genome": {
                    "type": "boolean",
                    "description": "Index the genome if not already done",
                    "default": false
                },
                "degraded_dna": {
                    "type": "boolean",
                    "description": "Flag to indicate if degraded DNA analysis should be performed",
                    "default": false
                },
                "bqsr": {
                    "type": "boolean",
                    "description": "Flag to indicate if Base Quality Score Recalibration should be performed",
                    "default": false
                }
                "variant_recalibration": {
                    "type": "boolean",
                    "description": "Flag to indicate if variant recalibration should be performed",
                    "default": false
                },
                "identity_analysis": {
                    "type": "boolean",
                    "description": "Flag to indicate if identity analysis should be performed",
                    "default": false
                },
            },
            "required": [
                "samplesheet",
                "genome_index_files",
                "index_genome",
                "genome_file",
                "outdir",
                "aligner"
            ]
        }
    },
    "allOf": [
        {
            "$ref": "#/definitions/inputs_outputs"
        }
    ]
}