// Default parameters

profiles{
    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

// DNANexus has one selection for the output files so re-route results to the output dir

params {
    platform = "local"
    samplesheet = "$projectDir/samplesheet.tsv"
    genome_file = "$projectDir/results/GENOME_IDX/Homo_sapiens_assembly38.fasta"
    genome_index_files = "$projectDir/results/GENOME_IDX/*.fast*"
    qsrVcfs = "$projectDir/data/qsr_vcfs/*.vc*"
    index_genome = false
    fastqc = false
    outdir = "./results"
    aligner = "bwa-mem"
    degraded_dna = false
    variant_caller = "haplotype-caller"
    bqsr = false
    variant_recalibration = false
    identity_analysis = false
}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']


def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/nextflow_reports/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/nextflow_reports/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/nextflow_reports/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/nextflow_reports/pipeline_dag_${trace_timestamp}.html"
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}